html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.login-row {
  height: calc(100vh - 67px);
}

.login-right {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.login-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 90% center; 
}

.container-fluid,
.login-row {
  padding: 0 !important;
  margin: 0 !important;
}
   .custom-navbar {
    background: linear-gradient(90deg, #1e1e1e, #343a40);
    padding: 0.6rem 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    
  }

  .navbar-brand img {
    border-radius: 8px;
    margin-right: 10px;
    transition: transform 0.3s ease;
  }

  .navbar-brand:hover img {
    transform: rotate(-5deg) scale(1.05);
  }

  .navbar-brand span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.5px;
  }

  .navbar-brand small {
    display: block;
    font-size: 0.8rem;
    color: #5a574f;
  }

  .navbar-brand:hover span {
    color: #837f75;
  }
  

