.pagination {
  gap: 5px; /* Espaciado entre botones */
}

.page-item .page-link {
  color: #b9b8b8 !important; 
  border-radius: 5px; /* Bordes suaves */
  padding: 6px 12px;
}

.page-item.active .page-link {
  background-color: #181818; /* Negro */
  border-color: #b1b1b1;
  color: #ffffff;
}

.page-item.disabled .page-link {
  background-color: #fbfcfc; /* Gris claro */
  border-color: #dee2e6;
  color: #72787c;
  pointer-events: none;
}